$primary-color:  #ff652f;
$secondary-color: #333;
$accent-color: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


html {
    scroll-behavior: smooth;
}

#about,
#services,
#skills,
#contact {
    padding: 100px 0;
    font-family: 'Poppins', sans-serif;
}


@mixin transition($transition-type, $duration ,$ease-type) {
    transition: $transition-type $duration $ease-type;
}

@function theme($color) {
    @if lightness($color > 40) {
        @return #ff652f;
    } @else {
        @return #fff;
    }
}