/* Navbar Section */
.navbar {
    width: 100%;
    position: fixed;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;

    &.sticky {
        padding: 15px 0;
        background-color: $primary-color;
    }

    .max-width {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-logo {
        a {
            font-size: 1.875rem;
            font-weight: 600;
            color: #fff;
        }
    }

    .nav-logo {
        a {
            span {
                color: $primary-color;
                transition: all 0.3s ease;
            }
        }
    }

    &.sticky {
        .nav-logo {
            a {
                span {
                    color: #fff;
                }
            }
        }
    }


    .nav-menu {
        li {
            list-style: none;
            display: inline-block;
        }
    }

    .nav-menu {
        li {
            a {
                display: block;
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                margin-left: 25px;
                transition: color 0.3s ease;
            }
        }
    }

    .nav-menu li a:hover {
        color: $primary-color;
    }

    &.sticky {
        .nav-menu {
            li {
                a:hover {
                    color: rgb(235, 12, 86);
                }
            }
        }

        .menu-btn i:hover {
            color: #222;
        }
    }
}

/* Menu Bar Styling */
.menu-btn {
    color: #fff;
    cursor: pointer;
    display: none;

    i:hover {
        color: $primary-color;
    }
}
