
/* Services Section */
.services {
    .title::after {
        content: "what i do";
        background-color: #111;
    }

    .services-content {
        .card {
            width: calc(33% - 20px);
            background-color: #222;
            text-align: center;
            border-radius: 6px;
            padding: 20px 25px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .card {
            .box {
                transition: all 0.3s ease;
            }

            &:hover {
                background-color: $primary-color;
                color: #fff;

                .box {
                    transform: scale(1.05);
                }

                i {
                    color: #fff;
                }
            }

            i {
                font-size: 3.125rem;
                color: $primary-color;
                transition: color 0.3s ease;
            }

            .text {
                font-size: 1.375rem;
                font-weight: 500;
                margin: 10px 0 7px;
            }
        }
    } 
} 
