/* Footer Section */
footer {
    font-family: 'Poppins', sans-serif;
    padding: 20px 23px;
    text-align: center;
    color: #333;
    border-top: 5px solid $primary-color;

    span {
        a {
            color: $primary-color;
            text-decoration: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .social-icons {
        margin-bottom: 15px;

        .social-icon {
            font-size: 18px;
            margin-right: 15px;
            transition: all 0.3s ease;
        }

        .twitter {
            color: #00aced;
            text-decoration: none;
        }

        .linkedIn {
            color: #007bb6;
            text-decoration: none;
        }

        .facebook {
            color: #3b5998;
            text-decoration: none;
        }

        .github {
            color: #211F1F;
            text-decoration: none;
        }

        a:hover {
            color: $primary-color;
        }
    }
}