/* Skills Section */
.skills {
    .title::after {
        content: "what i use";
    }

    .skills-content {
        .text {
            color: #ff652f;
        }

        .column {
            width: calc(25% - 10px);
            display: flex;
            flex-direction: column;
            align-self: start;
        }

        .skill {
            margin-top: 25px;
            display: flex;
            justify-items: space-between;


            p {
                font-size: 18px;
                font-weight: bold;
                align-self: center;
            }

            i {
                font-size: 40px;
                padding-right: 20px;
            }
            
        }
    }
}
